body{
margin:0;
padding:20px;
font-family:Arial, sans-serif;
background:#eef5ff;
}

h1{
text-align:center;
font-size:42px;
margin-bottom:20px;
}

#gameContainer{
display:flex;
gap:20px;
align-items:flex-start;
}

#leftPanel{
width:320px;
position:sticky;
top:10px;
}

#board{
display:grid;
grid-template-columns:repeat(7,44px);
gap:0;
row-gap:0;
column-gap:0;
padding:0;
margin:0 auto;
justify-content:center;
align-content:start;
}

.cell{
width:44px;
height:44px;
background:#e8ffe8;
border:1px solid #888;
border-radius:0px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
position:relative;
font-size:9px;
font-weight:bold;
margin:0;
padding:0;
line-height:1;
overflow:hidden;
}

.cell span{
font-size:18px;
}

.gans{
background:#ffe66d;
}

.brug{
background:#9bf6ff;
}

.put{
background:#bdb2ff;
}

.herberg{
background:#ffd6a5;
}

.gevangenis{
background:#ffadad;
}

.dood{
background:#caffbf;
}

.finish{
background:#ffea00;
}

.pawns{
position:absolute;
bottom:4px;
display:flex;
gap:4px;
}

.pawn{
width:10px;
height:10px;
border-radius:50%;
border:2px solid white;
}

.red{
background:red;
}

.blue{
background:blue;
}

.green{
background:green;
}

.purple{
background:purple;
}

button{
padding:18px;
font-size:20px;
border:none;
border-radius:14px;
cursor:pointer;
background:#0077ff;
color:white;
margin-top:10px;
width:100%;
}

button:hover{
transform:scale(1.03);
}

#controls,
#questionBox,
#popup{
background:white;
padding:20px;
border-radius:16px;
margin-bottom:20px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

#popup{
display:none;
font-size:20px;
font-weight:bold;
}

#question{
font-size:20px;
min-height:80px;
}

#answer{
display:none;
margin-top:15px;
font-size:18px;
font-weight:bold;
color:#007700;
}

@media(max-width:1000px){

#gameContainer{
flex-direction:column;
}

#leftPanel{
width:100%;
position:relative;
}

#board{
grid-template-columns:repeat(5,70px);
justify-content:center;
}

}
